body { 
    color:gold;
    background-color:coral;
    margin:0px;
}

header {
   border-bottom:solid 2px white ;
   padding: 20px;
   font-size: 32px;
   color:crimson
}

section {
    background: rgb(235, 120, 37);
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justify-content:center ;
}

div {
    margin-right: 20px;

}